[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = git@github.com:trootski/tmuxinator.git
