.vim/undo/*
*.swp
.VimballRecord
backups/*
!backups/empty
.vim/.netrwhist
!/**/.gitkeep
.vim/bundle/*
!.vim/bundle/Vundle

/bash/*
!/bash/aliases.sh
!/bash/completion.sh
!/bash/exports.sh
!/bash/functions.sh
!/bash/linux.sh
!/bash/osx.sh
!/bash/prompt.sh

.vim/plugged/*
