general {
        colors = true
        interval = 1
}

order += "disk /"
order += "wireless wlp1s0"
order += "battery 0"
order += "time"

wireless wlp1s0 {
	format_up = "W: (%quality)"
	format_down = "W: down"
}

battery 0 {
        format = " %status %percentage %remaining "
}

cpu_temperature 0 {
        format = " %degrees °C "
}

time {
        format = " %a %d/%m %H:%M "
}

disk "/" {
       format = " %avail "
}

disk "/home" {
       format = " %avail "
}

